.dropdown {
    position: relative;
}

.dropdown .dropdown-content {

    border: 1px #292b2c solid;
    min-width: 362px;
    background-color: #292b2c;
    position: absolute;
    top: 100%;
    left: 0px;
    display: none;
    border-radius: 2px;
}
.dropdown .dropdown-item{
    width: 120px;
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    background-color: #292b2c;
    color: #f0f0f0;
    border: 1px white solid;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
    color: #292b2c;
    text-decoration: underline;
    border-radius: 2px;
}