* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  background-image:  linear-gradient(to bottom right, red, yellow);
  background-attachment: fixed;
}
ul{
  list-style: none;
  display: inline-block;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}
h1 {
  margin-block-start: 0;
    margin-block-end: 0;
}
a {
  text-decoration: none;
  color: white;
}
